color_main-light   = #323232
color_main-dark    = #202020
color_accent-light = #30659A
color_accent-dark  = #175189
color_font-light   = #FFFFFF
color_font-medium  = #C5C4C4
color_font-dark    = #3F3F3F

font_size-small      = 12px
font_size-normal     = 18px
font_size-large      = 48px
font_weight-text     = 300
font_weight-interact = 400
font_weight-title    = 700

time_fast = .3s
time_slow = .9s