@import "gui"

#header
    fixed           : top left
    z-index         : 1
    height          : 144px
    width           : 100%
    background-color: color_accent-dark

#header_title
    height        : 96px
    line-height   : @height
    margin-left   : 24px
    padding-left  : 144px
    font-size     : font_size-large
    font-weight   : font_weight-title
    text-transform: uppercase
    background    : url("../../images/leaf.png") no-repeat top left/89px 96px

#header_sections
    height    : 48px
    text-align: center
