@import "gui"

global-reset()

*
    box-sizing      : inherit
    text-size-adjust: 100%
    text-rendering  : optimizeLegibility
    font-smoothing  : grayscale
    cursor          : default
    user-select     : none
    &:before
    &:after
        box-sizing: inherit

::-webkit-scrollbar
    width           : 12px
    background-color: color_main-dark

::-webkit-scrollbar-thumb
    background-color: color_accent-light

html
    height     : 100%
    min-height : 100%
    box-sizing : border-box

body
    height     : calc(100% - 240px)
    margin-top : 144px
    font       : 0 "Open Sans", sans-serif
    font-weight: font_weight-text
    color      : font_color-light
    overflow-y : scroll
    & #content
        min-height: 100%

a
    color          : inherit
    text-decoration: initial
    cursor         : pointer
    transition     : color time_fast

p a
    text-decoration: underline
    &:hover
        color: font_color-medium

strong
    font-weight: bold
    color      : color_accent-light

press
    display         : inline-block
    height          : 48px
    width           : 120px
    line-height     : @height
    font-size       : font_size-normal
    font-weight     : font_weight-interact
    text-align      : center
    text-transform  : uppercase
    background-color: color_accent-dark
    cursor          : pointer
    transition      : background-color time_fast
    &:hover
    &.selected
        background-color: color_accent-light
    &:not(:last-child)
        border-right: solid 1px color_accent-light
    & a
        display: block
        height : 100%
        width  : 100%

row
    display: flex
    padding: 0 20%
    &:nth-child(even)
        background-color: color_main-light
    &.row_noimage p
        width: 100%
    &.row_numbering div
        display        : flex
        justify-content: center
        align-items    : center
        font-size      : font_size-image
        font-weight    : font_weight-title
    & p
    & div
        align-items: stretch
        transition : opacity time_normal
    & p
        width      : calc(100% - 252px)
        line-height: 24px
        padding    : 60px 0
        font-size  : font_size-normal
        text-align : justify
    & div
        align-items: stretch
        width      : 252px

.hidden
    opacity: 0



