extends /views/common/layout.jade

block css
  link(rel="stylesheet", href="/style/faq.css")

block content
  #faq_index.faq_row
    each pair, index in faq
      p: a(href="#faq_#{index}")= pair.question
  each pair, index in faq
    .faq_row
      p.faq_question(id="faq_#{index}")!= pair.question
      p.faq_answer!= pair.answer

block script
  script(type="text/javascript" src="/javascripts/faq.js")