extends /views/common/layout.jade

block css
  link(rel="stylesheet", href="/style/home.css")

block js
  script(type="text/javascript" src="//www.youtube.com/iframe_api")

block content
  row#home_row-video
    #player.hidden
  row#home_row-maple
    p.hidden!= home.maple
  row#home_row-dcs
    p.hidden!= home.dcs

block script
  script(type="text/javascript" src="/javascripts/home.js")