extends /views/common/layout.jade

block css
  link(rel="stylesheet", href="/style/home.css")

block js
  script(type="text/javascript" src="//www.youtube.com/iframe_api")

block content
  row#home_row-video
    #player.hidden
  each entry, index in home
    row(id="home_row-#{index}")
      .hidden
      p.hidden!= entry

block script
  script(type="text/javascript" src="/javascripts/home.js")