@import "common\gui"

.faq_row
    padding: 36px 0
    &:nth-child(even)
        background-color: color_main-light
    & p
        width       : 75%
        line-height : 24px
        margin      : 0 auto
        font-size   : font_size-normal
        text-align  : justify

#faq_index
    & p
        width: 50%

.faq_question
    padding-bottom: 12px
    color         : color_font-medium
