@import "common\gui"

.faq_entry
    margin : 0 10%
    padding: 36px 0
    &:not(:last-child)
        border-bottom: 1px solid color_main-light
    & p
        line-height: 24px
        font-size  : font_size-normal
        text-align : justify

.faq_question
    color : font_color-medium
    cursor: pointer

.faq_answer
    padding-top: 12px