@import "common\gui"

#hardware_row-hotas div
    background: url("../../images/hardware/hotas.png") no-repeat center center/100%

#hardware_row-trackir div
    background: url("../../images/hardware/trackir.png") no-repeat center center/80%

#hardware_row-monitor div
    background: url("../../images/hardware/monitor.png") no-repeat center center/70%