@import "common\gui"

#hardware_row-hotas p
    background: url("../../images/hotas.png") no-repeat center left/216px

#hardware_row-trackir p
    background: url("../../images/trackir.png") no-repeat center left 30px/168px

#hardware_row-monitor p
    background: url("../../images/monitor.png") no-repeat center left 36px/144px