@import "common\gui"

.home_row
    &:nth-child(even)
        background-color: color_main-light
    & p
        width      : 840px
        line-height: 24px
        margin     : 0px auto
        padding    : 60px
        font-size  : font_size-normal
        text-align : justify
        cursor     : pointer
    & iframe
        display: block
        margin : 60px auto

#home_dcs p
    padding-left: 252px
    background  : url("../../images/dcs.png") no-repeat center left/216px

#home_maple p
    padding-right: 192px
    background   : url("../../images/maple.png") no-repeat center right/156px
