@import "common\gui"

#home_row-video
    padding: 60px
    & iframe
    & div
        @media (min-width: 0)
            height: 480px
            width : 853px
        @media (min-width: 1440px)
            height: 720px
            width : 1280px

#player
    display   : block
    margin    : 0 auto
    transition: opacity time_slow

#home_row-maple p
    background: url("../../images/maple.png") no-repeat center left 48px/156px

#home_row-dcs p
    background: url("../../images/dcs.png") no-repeat center left 48px/156px

