@import "common\gui"

.home_row
    &:nth-child(even)
        background-color: color_main-light
    & p
        width       : 60%
        line-height : 24px
        margin      : 0 auto
        padding     : 60px
        padding-left: 252px
        font-size   : font_size-normal
        text-align  : justify
    & iframe
        display: block
        margin : 0 auto


#home_row-video
    padding: 60px
    @media (min-width: 0)
        & iframe
            height: 480px
            width : 853px
    @media (min-width: 1440px)
        & iframe
            height: 720px
            width : 1280px

#home_row-maple p
    background: url("../../images/maple.png") no-repeat center left 48px/156px

#home_row-dcs p
    background: url("../../images/dcs.png") no-repeat center left 48px/156px

