@import "common\gui"

.group_content a
    display: inline-block
    margin : 0 12px 24px 12px

#store_modules a
    height : 180px
    width  : 180px

#store_merchandise a
    height : 150px
    width  : 150px