#header
  h1#header_title!= company
  nav#header_tabs
    each section in sections
      press(id="header_tabs-#{section}")
        if section != "blog"
          a(href="/#{section}")!= section
        else
          a(href="http://mapleflagmissions.blogspot.ca/" target="_blank")!= section
